/**
 * Variables
 *
 * Define your SCSS variables here.
 */

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1536px;
$breakpoint-3xl: 1792px;

// Transitions
$transition-fast: 150ms ease-in-out;
$transition-normal: 300ms ease-in-out;
$transition-slow: 500ms ease-in-out;

// Shadows
$shadow-sm: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
