@use "../tokens/colors" as *;

.title-underline {
  position: relative;
  max-width: max-content;

  &::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 178%;
    height: 0.125rem;
    background-color: $standard-yellow-500;
  }
}

.title-underline-light {
  position: relative;
  max-width: max-content;

  &::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 139%;
    height: 0.125rem;
    background-color: $standard-red-100;
  }
}
